<div  id="magazines">
  <h3>Magazine purchases</h3>
  <br><br>
  <div *ngFor="let purchase of magazinePurchases">
    <div>
      <div class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-80 justify-content-between">
          <h5 class="mb-2">{{purchase['magazine']['name']}}</h5>
        </div>

        <span>
          <span class="mb-2"> Scientific areas:</span>
          <span *ngFor="let area of purchase['magazine']['scientificAreas']">
            {{area}}
          </span>
        </span>

        <p class="mb-2">Payment type: {{purchase['magazine']['paymentType']}}</p>
        <p class="mb-2">ISSN number: {{purchase['magazine']['issnnumber']}}</p>
        <br/>
        <p class="mb-2"><b>Purchase status: {{purchase['status']}}</b></p>

      </div>
    </div>
  </div>
</div>
