@import "~bootstrap/dist/css/bootstrap.css";
body {
  background: url("card.jpeg") no-repeat center center fixed Highlight;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
